.product-details-form{
    position: absolute;
    display: flex;
    align-items: flex-start;
    width: 70%;
    left: 100px;
    top: 100px;
}

.save-edits{
    width: 80px;
}

button.GH_Btn.save.save-edits:active {
    transition: 100ms;
    scale: 1.15;
    background-color: rgb(26, 120, 215);
    ;
}

.save-edits:hover {
    scale: 1.1;
    transition: 400ms;
    background-color: dodgerblue;
}

.product-images-column{
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    align-items: stretch;
    background-color: rgba(77, 73, 73, 0.722);
    flex-direction: column;
    justify-content: center;
    height: 300px;
    cursor: pointer;
}
.product-images-column div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
}

.product-images-column div:hover {
    border: 0px;
}

.product-images-column div i {
    max-width: 100%; /* Ensure the icon doesn't exceed the width of its container */
    height: auto;
    margin: 0 auto; /* Center the icon horizontally within its parent */
    display: block;
    font-size: xx-large;
}

.product-images-column div i:hover {
    color: blueviolet;
    scale: 1.1;
    transition: 500ms;
}

.product-images-column > *{
    border: .5px solid black;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    margin-top: 5%;
}

.product-images-column > *:hover{
    border: .5px solid black;
    scale: 1.05;
    transition: 500ms;
}

.product-displayed-image-container{
    display: grid;
    position: relative;
    align-items: center;
    width: 400px;
    height: 400px;
    flex-direction: column;
    justify-content: flex-start;
    background-color: deepskyblue;
    border-radius: 3px;
}

.product-displayed-image{
    position: absolute;
    width: 100%; 
    height: auto; 
}

.product-displayed-image.active{
    z-index: 1;
    transition: 100ms;
}

.product-displayed-image.inactive{
    z-index: 0;
    opacity: 0;
}

.add-image-button{
    padding: 10px;
    display: grid;
    width: 100%;
    height: 50px
}

button.add-image-button:active{
    transition: 10000ms;
    flex: 1;
}