.admin-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 0 20px;
}

.admin-navbar-right {
    display: flex;
    align-items: center;
}

.admin-signed-in-as {
    margin-right: 20px;
}

.admin-sign-out-button {
    padding: 10px 15px;
    cursor: pointer;
    background-color: #733BC0;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.admin-sign-out-button:hover {
    background-color: #392467;
}
