.GH_Btn {
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    font-size: small;
    font-weight: bold;
}

.GH_Btn_series {
    display: flex;
    justify-content: center;
}

.GH_Btn.series {
    flex: 1;
}

.GH_Btn.left {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.GH_Btn.right {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.GH_Btn.top {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.GH_Btn.bottom {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.GH_Btn.middle {
    border-radius: 0px;
}

.GH_Btn.series:hover {
    flex: 1;
    scale: 1.05;
    transition: 200ms;
    background-color: dodgerblue;
    color: blueviolet;
}

button.GH_Btn.series:active {
    transition: 200ms;
    scale: 1.1;
    flex: 3;
    background-color: blueviolet;
    color: dodgerblue;
}
  
.GH_Btn.active {
    flex: 1;
    transition: 500ms;
    background-color: blueviolet;
    color: dodgerblue;
}

.GH_Btn.inactive {
    transition: 500ms;
}

button.GH_Btn.general:active {
    transition: 50ms;
    scale: 1.1;
    background-color: rgb(26, 120, 215);
}

.GH_Btn.general:hover {
    /* scale: 1.1; */
    transition: 400ms;
    background-color: dodgerblue;
    color: blueviolet;
}
  
.GH_Btn *:hover::before{
    color: blueviolet;
    transition: 200ms;
    scale: 1.2;
}

.GH_Btn.add .bi.bi-plus-lg::before{
    scale: 1.3;
}

.GH_Btn.add:hover .bi.bi-plus-lg::before{
    scale: 1.6;
}
  
.GH_Btn.edit:hover .bi.bi-pencil::before{
    content: '\F4C9';
}
  
.GH_Btn.trash:hover .bi.bi-trash::before{
    content: '\F5DD';
}

.GH_Btn.save:hover .bi.bi-floppy::before{
    content: '\F7C5';
}