.catalog-item {
    display: flex;
    margin-bottom: 20px;
    margin-top: 0px;
    padding: 0px;
    border-radius: 8px;
    width: 60vw;
    flex-wrap: wrap;
}

.catalog-item:hover{
    border: 0.5px solid rgb(228, 222, 220);
    transition: 500ms;
    cursor: pointer;
}

.product-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-right: 10px;
} 

.product-details {
  flex: 1;
}

.product-details p {
  font-size: small;
  margin-top: 0;
  margin-bottom: 0;
}

.product-price {
  font-weight: bold;
  color: #007bff;
}

.product-details-type {
  color: blueviolet;
  font-weight: bold;
}

.catalog-actions{
  flex-direction: column;
}

.list-group {
  position: absolute;
  list-style-type: none;
  padding: 0;
}

/* Transition styles */
.list-group.fade-in {
  opacity: 1;
  z-index: 1;
  transition: opacity 0.5s ease-in-out;
}

.list-group.fade-out {
  opacity: 0;
  z-index: 0;
  transition: opacity 0.5s ease-in-out;
}
  /* Add more styles as needed */
  